<h1><%= title %></h1>
<p>Welcome to <%= title %></p>

<figure id="thumbnail" class="empty">
	<span>[?]</span>
</figure> 

<form id="upload-form" action="" method="post" enctype="multipart/form-data">
	<input type="hidden" name="fileId" value="12345">
	<label for="upload">Go Upload Something</label><br>
	<input type="file" name="upload" id="upload">
	<input type="submit" value="Upload">
</form>

<!-- Grab Google CDN's jQuery. fall back to local if necessary -->
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.js"></script>
<script>!window.jQuery && document.write(unescape('%3Cscript src="js/libs/jquery-1.7.1.min.js"%3E%3C/script%3E'))</script>

<!-- Uploader script-->
<script src="/js/upload-1.js"></script>
<script>
$(document).ready(function(){

	$('#upload-form').uploader({
		removeUrl: '/remove'
	});
});
</script>