body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

form,
#messages {
  background-color: #eee;
  min-height: 100px;
}

figure {
  float: left;
  font-size: 0.8em;
  margin: 0.5em 3em;
  text-align: center;
  height: 67px;
  width: 70px;
}
figure img {
  width: 70px;
}
figure.empty {
  padding-top: 3px;
  background: lightgrey;
}
figure.loading {
  background: orange;
}
figure.empty span {

  font-size: 4.3em;
  font-weight: bold;
  letter-spacing: 0.1em;
}